---
layout: archive
title: "Further information"
permalink: /information/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<br>
I was born in 2005 and grew up in Ningyuan, Hunan. In 2020, I was admitted to the School of Gifted Young at USTC.<br><br>
Since enrolling, in addition to study and research, I have been enthusiastic about public welfare and volunteer services and won Cyrus Tang Scholarship for Personal Development and Community Service
for all four years, which is a great encouragement for me.<br><br>
I enjoy music, movies and literature during my spare time.
