---
layout: archive
title: "Further information"
permalink: /information/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<br>
I was born in 2005 and grew up in Ningyuan, Hunan. In 2020, I was admitted to the School of Gifted Young at USTC.
<br>
Since enrolling, in addition to study and research, I have been enthusiastic about public welfare and volunteer services, and participated in organizing many large-scale activities. Here are some of the awards I have received related to this:
<br>
· Freshman Entrance Scholarship Bronze Award, School of Gifted Young, 2020<br>
· Cyrus Tang Scholarship for Personal Development and Community Service, 2020 - 2023<br>
· One-star Volunteer, USTC, 2023
<br>
I enjoy music, movies, literature during my spare time.
