---
layout: archive
title: "Further information"
permalink: /information/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<div class="content" style="display: flex; align-items: flex-start; gap: 20px;">
  <div style="flex: 1;">
    <p>
      I was born in 2005 and raised in the quiet landscape of Ningyuan County, a small town in Hunan Province,
      before joining the gifted youth program at USTC in 2020, where I was fortunate to work alongside inspiring mentors
      and brilliant peers.<br /><br />
      I'm passionate about music, along with screen content and literature in my leisure time.<br /><br /><br /><br />
      <img src="/images/albums.jpg" style="width: 30%; display: block; margin: 0 auto;">
    <figcaption style="text-align: center;">
      those incredible albums
    </figcaption>
    </p>
  </div>

  <figure style="flex: 0 0 220px; margin: 0;">
    <img src="/images/shundiling.webp" style="width: 100%; height: auto;">
    <figcaption style="text-align: center;">
      Emperor Shun's Mausoleum, Jiuyi Mountains, Ningyuan County
    </figcaption>
  </figure>
</div>